.formContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 1.5rem 0 3rem 0;
}

.formContainer input {
  outline: none;
  padding: 0.8rem 1rem;
  border-radius: 8px;
  border: 1px solid #d946ef;
  width: 15rem;
  margin-left: 1rem;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.formContainer input:focus {
  border: 2px solid #d946ef;
}

.formContainer span {
  font-size: 2rem;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .formContainer input {
    width: 30rem;
  }
}
